<div class="PC">    
    <div menu id="MENUSIDE" [ngClass]="{'active':mobileMenuActive}"></div>    
    <div id="CONTENTSIDE">
        <div id="CONTENTSIDEindent">
            <!-- header bar start-->
            <div class="ContentSideSections" id="PFTopLinksCover" style="height:30px;">
               <!--
                <a id="LOGOTEXTSIDE" [routerLink]="['HomePage']">
                    <span>{{title}}</span>
                </a>            
                <a href="#" id="openMenuBtn" (click)="toggleMenu($event)" [ngClass]="{'active':mobileMenuActive}">
                    <img alt="logo" src="showcase/resources/images/menuicon.svg" />
                </a>           
                <a href="#" class="PFTopLinks floatRight boldFont hashed" [routerLink]="['Setup']"><img alt="mockosx" src="showcase/resources/images/setup.svg" /><span class="PFDarkText">Setup</span></a>
                -->
             
            </div>
            <!-- header bar end-->
            <div>                
                <router-outlet></router-outlet>
            </div>

            <!-- footer start-->
            <div class="ContentSideSections">
                <span class="floatLeft fontSize14 gray"><a href="http://www.primetek.com.tr">PrimeTek</a>, Copyright &copy; 2016</span>
                <span class="floatRight fontSize14 gray">All rights reserved</span>
                <div style="clear:both"></div>
            </div>
            <!-- footer end-->
        </div>
    </div>
</div>
